/* CSS Document */
p,div,table,blockquote{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; 
	color: #000000;
	text-decoration: none;	
}

a{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	font-size: 11px; 
	text-decoration: none;
}

