
/**
	* @name sistema_firefox.css
	* @desc CSS StyleSheet
	* @version v1.0 - Brasília, 23 de Novembro de 2005
	* @author Daniel von Paraski
	* @category CSS
	* @package PortalMCT
	*/
	
/*************************** 
  Body, TD, TR, TABLE ...
 ***************************/

 body{
	text-align:center;
	background:#FFF;
	font-family:verdana,arial,helvetica,sans-serif;
	font-size:100%;
	padding:0px;
	margin-left:0px;
}


 
 
/*************************** 
  MENU
 ***************************/

div.divMenuLateral {
  font-family: Sans-serif;
  text-align: left;
  font-size: 10px;
  position: fixed;
  top: 20px;
  left: 0px;
  width: 220px;}

div.divMenuLateral p {
  margin: 0px; 
  padding: 5px 5px 5px 5px;
  color: #444;}

  
div.divMenuLateral span {
	font-weight: bold;
	margin: 12px 0px 0px 0px;
	padding-right: 10px;
	display: block;
	font-size:11px;
	height: 25px;
	width:200px;
}


div.divMenuLateral span.Title1 {
	font-size: 14px; 
	color: #fff;
	text-align: right;
	background:#E18A2C url(/html/imagens/menu/menu_lateral/xptitle.gif) repeat-Y top left; }
	
div.divMenuLateral span.Title2 { 
	font-size: 14px; 
	color: #854E15;
	text-align: right;
	background:#F9E7D5 url(/html/imagens/menu/menu_lateral/xptitle2.gif) repeat-Y top left; }
	
div.divMenuLateral span.Title3 {
	font-size: 14px; 
	text-align: center;
	color: #FFF;
	background:#265BCC;
 }
 
div.divMenuLateral a { 
	font-size:11px;
  	background: #F9E8D7;
	display: block; 
	height: 25px;}
	
div.divMenuLateral a img {
	border:0px; 
  	margin: 5px 15px 5px 5px;}
	
div.divMenuLateral a:link { 
	text-decoration: none; 
	color: #555 }
div.divMenuLateral a:visited { 
	text-decoration: none; 
	color: #555 }
div.divMenuLateral a:hover { 
	background: #FFF6E8; 
	color: #555 }


#divMenuHorizontal {
	text-align: center;
	position: fixed;
	top: 6px;
	left: 220px;}
  

/*************************** 
  CLASSES
 ***************************/
.TabTexto {
	
	font-size : 12px;
	color : black;
	text-decoration: none;
}
.pblTabelaGeral {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FA9C00;
	background-color: #FAE0B5;
	border: 3px #FA9C00 solid;
}

.pblTdMenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FA9C00;
	background-color: #FAE0B5;
	border-width: 1px;
	border-color: #FA9C00;
	border-style: none none none solid;
}

.pblMenuAdmin {
	color: #FC9400;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	display: block;
	background-color: #FAE0B5;		
	padding: 3px;	
	margin-left: 8px;
}

.pblMenuAdmin:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	display: block;
	background-color: #FFF6E8;		
}

.pblTituloBox {
	font-family: Trebuchet, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FA9C00;	
	font-weight: bold;
	margin-left: 10px;
}

.pblTituloForm {
	font-family: Trebuchet, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #FA9C00;	
	font-weight: bold;
	margin-left: 0px;
}



.pblTextoLabelForm {
	/* Este estilo descreve as opções do formulário (à esquerda). A pblTextoForm são as opções propriamente ditas (à direita) */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FA9C00;
	margin-left: 10px;
	font-weight: bold;
}
.pblObrigatorio {
	color:red;
}

.pblTextoMsgForm {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: Red;
	margin-left: 10px;
	font-weight: bold;
}

.pblTextoForm {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FA9C00;
	margin-left: 10px;
}

.pblMensagemForm {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
	margin-left: 10px;
	font-weight: bold;
}

.pblAssinatura {
	font-family: Trebuchet, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FA9C00;	
	font-weight: bold;
	margin: 10px 0px 0px 10px;
	text-align: right;
}

.pblBotaoForm {
	font-family: Trebuchet, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FA9C00;	
	font-weight: bold;
	border-style: solid;
	border-width: 1px 2px 2px 1px;
	background-color: #FFF6E8;
}

.pblInputForm {
	font-family: Courier New;
	font-size: 13px;
	color: #333333;	
	font-weight: normal;
	border-style: solid;
	border-width: 1px;
	background-color: #FFF6E8;
}

.pblSelectForm {
	font-family: Courier New;
	font-size: 13px;
	color: #333333;	
	font-weight: normal;
	border-style: solid;
	border-width: 1px;
	background-color: #FFF6E8;
}

.pblTituloLog {
	font-family: Trebuchet, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FA9C00;	
	font-weight: bold;
	margin-left: 10px;
	text-align: left;
}

.pblCabecaLog {
	font-family: Trebuchet, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
	font-weight: normal;
	margin-left: 10px;
	display: block;
	background-color: #FA9C00;
}

.pblTextoLogPar {
	font-family: Trebuchet, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #222222;	
	font-weight: normal;
	margin-left: 10px;
	background-color: #fff9dd;	
}

.pblTextoLogImpar {
	font-family: Trebuchet, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #222222;
	font-weight: normal;
	margin-left: 10px;
}


.pblCalendario {
	font-family: Trebuchet, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #222222;
	font-weight: normal;
	margin-left: 0px;
}

.pblAlinhamentoTabelas {
	margin-left: 15px;
	text-align: left;
	position: absolute;
	top: 24px;
	left: 220px;}

.pblLinha {
	color: #FA9C00;
}

.pblAlinhamentoBotoes {
	text-align: right;

}

.pblTextoDebug {
	font-family: Trebuchet, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: red;
	font-weight: normal;
}

a.pblLinksAdmin {
	color: #FA9C00;
	text-decoration: none;
}

a.pblLinksAdmin:hover {
	color: #a0430b;
	text-decoration: underline;
}

a.pblLinksAdmin:visited {
	color: #a0430b;
}

 
